.Logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 22rem;
  width: 28rem;
  padding-top: 1rem;
  align-items: center;
  justify-content: center;
}
